beautifulsoup4
tldextract
requests
PyMuPDF
PyPDF2
langdetect
deep-translator
torch
transformers
sentence-transformers
networkx
numpy
spacy
rapidfuzz
streamlit
langchain
langchain-community
langchain-huggingface
